
<br>
<br>
<div class="container position-relative">
  <div class="row align-items-center">
    <div class="col-md-5 col-lg-6 order-md-1 pt-8"><img class="img-fluid" src="/assets/imgenes/casa1.jpg"
        alt=""></div>
    <div class="col-md-7 col-lg-6 text-center text-md-start pt-5 pt-md-9">
      <h2 class="mb-4 display-3 fw-bold">Inovarte Bienes Raices</h2>
      <p class="mt-3 mb-4 fs-1">Encuentra tu hogar o su casa para vacionar<br class="d-none d-lg-block">con excelentes beneficios
        <br class="d-none d-lg-block"></p>

    </div>
  </div>
</div>
<br>
<br>
<br>
<br>

   <div class="site-section">
      <div class="container">
        <div class="row mb-5 justify-content-center" data-aos="fade-up">
          <div class="col-md-7">
            <div class="site-section-title text-center">
              <h2>Caracteristicas y Servicios</h2>
              <p></p>
            </div>
          </div>
        </div>


       <div class="row">
          <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="team-member">

              <img src="/assets/imgenes/huella.png" alt="Image" class="img-fluid rounded mb-4">

              <div class="text">

                <h2 class="service-heading">Aceptamos Mascotas</h2>
                <span class="d-block mb-3 text-white-opacity-05"></span>
                <p>Nosotros sabemos lo importante que son las mascotas y que son parte fundamental de la familia por este motivo pueden traer a sus mascotas!</p>
                <p>
                  <a href="#" class="text-black p-2"><span class="icon-facebook"></span></a>
                  <a href="#" class="text-black p-2"><span class="icon-twitter"></span></a>
                  <a href="#" class="text-black p-2"><span class="icon-linkedin"></span></a>
                </p>
              </div>

            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-5 mb-lg-5" data-aos="fade-up" data-aos-delay="300">
            <div class="team-member">

              <img src="/assets/imgenes/camara.png" alt="Image" class="img-fluid rounded mb-4">

              <div class="text">
                <span class="icon flaticon-camera"></span>
                <h2 class="service-heading">Seguridad</h2>
                <p>Contamos con servicio de seguridad mediante camaras con el fin de ofrecerle seguridad a su familia y la estancia en la casa sea lo mas comoda posible!</p>
                <p>
                  <a href="#" class="text-black p-2"><span class="icon-facebook"></span></a>
                  <a href="#" class="text-black p-2"><span class="icon-twitter"></span></a>
                  <a href="#" class="text-black p-2"><span class="icon-linkedin"></span></a>
                </p>
              </div>

            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-5 mb-lg-5" data-aos="fade-up" data-aos-delay="400">
            <div class="team-member">

              <img src="/assets/imgenes/carro.png" alt="Image" class="img-fluid">

              <div class="text">

                <h2 class="service-heading">Vehiculos</h2>
                <span class="d-block mb-3 text-white-opacity-05"></span>
                <p>Contamos con casas que tienen conchera en caso de que traiga su vehiculo.</p>
                <p>
                  <a href="#" class="text-black p-2"><span class="icon-facebook"></span></a>
                  <a href="#" class="text-black p-2"><span class="icon-twitter"></span></a>
                  <a href="#" class="text-black p-2"><span class="icon-linkedin"></span></a>
                </p>
              </div>

            </div>
          </div>

        </div>
      </div>
     </div>

