

<br/>
<br />


    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
            <img class="img-fluid" src="/assets/imgenes/about.jpg" alt="Image" />
          </div>
          <div class="col-md-5 ml-auto" data-aos="fade-up" data-aos-delay="200">
            <div class="site-section-title">
              <h2>Inovarte Bienes Raices</h2>
            </div>
            <p class="lead">Somos una empresa 100% nacional que ofrece el servicio de alquiler de casas en el cual el cliente puede buscar su casa de acuerdo a las caracteristicas y servicios que necesite.</p>
            <p class="lead">Nos ubicamos en Alajuela Centro,  tambien nos puede contactar por medio del correo electronico: inovartebr@gmail.com</p>
            <p class="lead">Otra opción de comunicarse con nosotros puede ser a traves del número de teléfono: 2442-80-45.
              <p class="lead">Será un gusto antenderle!</p>
          </div>
        </div>
      </div>
    </div>

<br>
<br>


<div id="overviews" class="section lb">
  <div class="container">
    <div class="section-title row text-center">
      <div class="col-md-8 offset-md-2">
        <h3>Equipo de Trabajo</h3>
        <p class="lead">Nuestro prioridad principal es que el cliente se encuentre satisfecho con el servicio y darle el mejor trato y atención!</p>
      </div>
    </div>
 <br>
    <div class="row align-items-center">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="message-box">
          <h4>Maria Fernanda Guzmán Jimenez</h4>
          <h2>Universidad Técnica Nacional</h2>
          <p>Ingenieria del Software - Curso ISW 811.</p>

          <p> </p>
        </div>
      </div>

      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="post-media wow fadeIn">
          <img src="/assets/imgenes/fer.png" alt="" class="img-fluid rounded mb-4">
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="post-media wow fadeIn">
          <img src="/assets/imgenes/David.jpg" alt="" class="img-fluid rounded mb-4">
        </div>
      </div>

      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="message-box">
          <h2>David Sanchez Cisnero</h2>
          <p>Universidad Técnica Nacional.</p>
          <p> Ingenieria del Software - Curso ISW 811.</p>
        </div>
      </div>

    </div><!
  </div>
</div>
<br>
<br>




















  <!-- <div class="site-section">
    <div class="container">
      <div class="row mb-5 justify-content-center" data-aos="fade-up">
        <div class="col-md-7">
          <div class="site-section-title text-center">
            <h2>Leadership</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero magnam officiis ipsa eum pariatur labore
              fugit amet eaque iure vitae, repellendus laborum in modi reiciendis quis! Optio minima quibusdam,
              laboriosam.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4 mb-5 mb-lg-5 " data-aos="fade-up" data-aos-delay="300">
          <div class="team-member">
             <img src="/assets/imgenes/fer.jpg" alt="Image" class="img-fluid rounded mb-4">
            <div class="text">

              <h2 class="mb-2 font-weight-light text-black h4">Maria Fernanda Guzmán Jimenez</h2>
              <span class="d-block mb-3 text-white-opacity-05">Universidad Técnica Nacional</span>
              <p>Ingenieria del Software - Curso ISW 811</p>
              <p>
                <a href="#" class="text-black p-2"><span class="icon-facebook"></span></a>
                <a href="#" class="text-black p-2"><span class="icon-twitter"></span></a>
                <a href="#" class="text-black p-2"><span class="icon-linkedin"></span></a>
              </p>
            </div>

          </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-5 mb-lg-5" data-aos="fade-up" data-aos-delay="300">
          <div class="team-member">
              <img src="/assets/imgenes/David.jpg" alt="Image" class="img-fluid rounded mb-4">
            <div class="text">

              <h2 class="mb-2 font-weight-light text-black h4">David Sanchez Cisnero</h2>
              <span class="d-block mb-3 text-white-opacity-05">Universidad Técnica Nacional</span>
              <p>Ingenieria del Software - Curso ISW 811</p>
              <p>
                <a href="#" class="text-black p-2"><span class="icon-facebook"></span></a>
                <a href="#" class="text-black p-2"><span class="icon-twitter"></span></a>
                <a href="#" class="text-black p-2"><span class="icon-linkedin"></span></a>
              </p>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div> -->







