<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active"><i class="fas fa-home"></i>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="navbar-brand" routerLink="/casas/producto/index" routerLinkActive="active">Casas</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Mantenimientos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/casas/producto" routerLinkActive="active">Casas</a>
            <a class="dropdown-item" routerLink="/casas/reserva" routerLinkActive="active">Reservas</a>
            <a class="dropdown-item" routerLink="/casas/detalle" routerLinkActive="active">Detalles</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/casas/reserva/index" routerLinkActive="active" class="nav-link"><i
              class="fas fa-shopping-cart"></i> <span class="badge badge-light">{{qtyItems}}</span> </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/home/acercade" routerLinkActive="active">Acerca de</a>
        </li>

      </ul>

      <ul class="nav navbar-nav ml-auto">

        <li class="nav-item dropdown" ngbDropdown placement="bottom-right" display="dynamic">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">
            <span>
              <i class="fas fa-user"></i>
              <i *ngIf="isAutenticated"> {{currentUser.user.email}}</i>
            </span>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <div class="dropdown-item" *ngIf="isAutenticated">
              <div class="form-group">{{currentUser.user.name}}</div>
              <div class="form-group">{{currentUser.user.email}}</div>
            </div>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['usuario/login']" *ngIf="!(isAutenticated)"><i class="fas fa-user"></i>
              Ingresar</a>
            <a class="dropdown-item" (click)="logout()" *ngIf="isAutenticated"><i class="fas fa-sign-out-alt"></i>
              Salir</a>
          </div>
        </li>

      </ul>
    </div>
  </div>
</nav>
<br>
<br>

