
<div class="container">
  <div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">

    </h3>

    <a class="btn btn-primary" (click)="crearProducto()"><i class="fas fa-plus"></i> Crear Nuevo</a>

    <!-- Editable table -->
    <div class="card">
      <h3 class="card-header text-center font-weight-bold text-uppercase py-4">
        Productos
      </h3>
      <div class="card-body">
        <div id="table" class="table-editable">

        <table
            class="table table-bordered table-responsive-md table-striped text-center"
          >
            <thead>
              <tr>
                <th class="text-center">Producto</th>
                <th class="text-center">Nombre</th>
                <th class="text-center">Descripción</th>
                <th class="text-center">Precio</th>
                <th class="text-center">Estado</th>
                <th class="text-center">Detalles</th>
                <th class="text-center">Eliminar</th>
              </tr>
            </thead>
            <tbody>

             <tr *ngFor="let item of datos">
              <td class="pt-3-half">
                <a class="btn btn-primary" (click)="modificar(item.id)">Modificar</a>
              </td>
              <td class="pt-3-half">{{ item.id }}</td>
              <td class="pt-3-half">{{ item.name }}</td>
              <td class="pt-3-half">{{ item.description }}</td>
              <td class="pt-3-half">{{ item.state }}</td>
              <td class="pt-3-half">{{ item.price }}</td>
              <td class="pt-3-halt"><button type="submit" class="form-control btn btn-danger"  (click)=" eliminar(item.id)">Eliminar</button> </td>
            </tr>



            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Editable table -->

<br />
